@use "@angular/material" as mat;

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$magenta-palette,
      typography: Roboto,
      density: 0,
    )
  );
  --income: rgb(52, 103, 72);
}

html.dark-mode {
  color-scheme: dark;
  --income: #489265ff;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
